<!--Open Edit Modal-->
<td class="col-xs-2"><button type="button" class="btn btn-warning btn-sm" (click)="open(content)"><span class="glyphicon glyphicon-pencil"></span> Edit</button></td>
<td class="col-xs-10"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>

<!--Modal-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" (click)="d('Cross click')" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editBookModalLabel">Edit book</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="BookTitle" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="BookTitle" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="BookCover" class="col-sm-3 control-label">Book Cover</label>
        <div class="col-sm-9">
          <input type="file" id="BookCover">
          <p class="help-block">Upload an image to be the book's cover.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="BookAuthor" class="col-sm-3 control-label">Author</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="BookAuthor" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="BookStyle" class="col-sm-3 control-label">Style</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="BookStyle" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="BookDescription" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
                    <textarea type="text" class="form-control" id="BookDescription"
                              placeholder="Write a short description of the book"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')" aria-label="Close">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</ng-template>