<!--Open Edit Modal-->
<div class="col-xs-2">
  <button type="button" class="btn btn-warning btn-sm" (click)="open(content)">
    <span class="glyphicon glyphicon-pencil"></span> Edit</button>
</div>
<div class="col-xs-10">
  <button type="button" class="btn btn-danger btn-sm">
    <span class="glyphicon glyphicon-remove"></span> Delete</button>
</div>

<!--Modal-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" (click)="d('Cross click')" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editBookModalLabel">Edit book</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="BookTitle" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
          <input type="text"
                 name="title"
                 class="form-control"
                 id="BookTitle"
                 placeholder=""
                 [(ngModel)]="editedBook.title">
        </div>
      </div>
      <div class="form-group">
        <label for="BookAuthor" class="col-sm-3 control-label">Author</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="author"
                 id="BookAuthor"
                 placeholder=""
                 [(ngModel)]="editedBook.author">
        </div>
      </div>
      <div class="form-group">
        <label for="BookStyle" class="col-sm-3 control-label">Style</label>
        <div class="col-sm-9">
          <input type="text"
                 name="style"
                 class="form-control"
                 id="BookStyle"
                 placeholder=""
                 [(ngModel)]="editedBook.style">
        </div>
      </div>
      <div class="form-group">
        <label for="BookDescription" class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
            <textarea name="description"
                      class="form-control"
                      id="BookDescription"
                      placeholder="Write a short description of the book"
                      [(ngModel)]="editedBook.description"></textarea>
        </div>
      </div>
      <!--Hidden id input to be able to perform edits on authors-->
      <div class="form-group">
        <input type="hidden"
               name="id"
               [(ngModel)]="editedBook.id">
      </div>
      <div class="form-group">
            <button type="submit" class="col-xs-4 col-xs-offset-4 btn btn-primary text-center">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>