<div class="books-area">
    <div class="container-fluid">


        <div class="row">
            <!--Search a book-->
            <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </form>
            </div>

            <!--Open Add New Book Modal-->
            <div class="col-xs-12 col-sm-6">
                <app-add-book-modal></app-add-book-modal>
            </div>
        </div>

        <!--Insert book template from book component-->
        <ul>
            <li *ngFor="let book of books">
                <app-book [book]="book"></app-book>
            </li>
        </ul>
    </div>
</div>

