<div class="books-area">
    <div class="container-fluid">

        <!--Search a book-->
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text"
                                   name="term"
                                   class="form-control"
                                   placeholder="Search by title"
                                   [(ngModel)]="term">
                        </div>
                    </div>
                </form>
            </div>

            <!--Open Add New Book Modal-->
            <div class="col-xs-12 col-sm-6">
                <app-add-book-modal></app-add-book-modal>
            </div>
        </div>

        <!--Insert book template from book component-->
        <ul>
            <li *ngFor="let book of books | booksFilter:term">
                <app-book [book]="book"></app-book>
            </li>
        </ul>
    </div>
</div>

