<!--Book title-->
<div class="row">
    <div class="col-xs-12">
        <h3>{{book.title}}</h3>
    </div>
</div>
<!--Book data-->
<div class="row">
    <div class="col-xs-3 data-container">
        <p><strong>Author: </strong></p>
    </div>
    <div class="col-xs-9 data-container">
        <p>{{book.author}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 data-container">
        <p><strong>Style: </strong></p>
    </div>
    <div class="col-xs-9 data-container">
        <p>{{book.style}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 data-container">
        <p><strong>Description: </strong></p>
    </div>
    <div class="col-xs-9 data-container">
        <p>{{book.description}}</p>
    </div>
</div>

    <!--Edit book modal-->
<app-edit-book-modal [book]="book"></app-edit-book-modal>


<!--Remove Book-->
<div class="col-xs-10">
    <button type="button" class="btn btn-danger btn-sm" (click)="removeBook(book)">
        <span class="glyphicon glyphicon-remove"></span> Delete</button>
</div>

<br>
<hr>
