<!--Open Add Book Modal-->
<button type="button" class="btn btn-primary btn-md" (click)="open(content)"><span class="glyphicon glyphicon-plus"></span>  Add another book</button>

<!--Modal-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" (click)="d('Cross click')" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createNewBookModalLabel">Add another book</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="BookTitle" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                    <input type="text"
                           name="title"
                           class="form-control"
                           id="BookTitle"
                           placeholder=""
                           ngModel>
                </div>
            </div>
            <div class="form-group">
                <label for="BookAuthor" class="col-sm-3 control-label">Author</label>
                <div class="col-sm-9">
                    <input type="text"
                           name="author"
                           class="form-control"
                           id="BookAuthor"
                           placeholder=""
                           ngModel>
                </div>
            </div>
            <!--TODO Change it to be selectable-->
            <div class="form-group">
                <label for="BookStyle" class="col-sm-3 control-label">Style</label>
                <div class="col-sm-9">
                    <input type="text"
                           name="style"
                           class="form-control"
                           id="BookStyle"
                           placeholder=""
                           ngModel>
                </div>
            </div>
            <div class="form-group">
                <label for="BookDescription" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea type="text"
                              name="description"
                              class="form-control"
                              id="BookDescription"
                              placeholder="Write a short description of the book"
                              ngModel></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-default" (click)="c('Close click')" aria-label="Close">Close</button>
        </form>
    </div>
</ng-template>
