<!--Author's info-->
<div class="row">
  <div class="col-xs-12">
    <h3>{{author.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 data-container">
    <p><strong>Date of Birth: </strong></p>
  </div>
  <div class="col-xs-9 data-container">
    <p>{{author.birth}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 data-container">
    <p><strong>Death Date: </strong></p>
  </div>
  <div class="col-xs-9 data-container">
    <p>{{author.death}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 data-container">
    <p><strong>Nationality: </strong></p>
  </div>
  <div class="col-xs-9 data-container">
    <p>{{author.nationality}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 data-container">
    <p><strong>Bibliography: </strong></p>
  </div>
  <div class="col-xs-9 data-container">
    <p>{{author.bibliography}}</p>
  </div>
</div>

<!--Edit author modal-->
<app-edit-author-modal [author]="author"></app-edit-author-modal>


<!--Remove Author-->
<div class="col-xs-10">
  <button type="button" class="btn btn-danger btn-sm" (click)="removeAuthor(author)">
    <span class="glyphicon glyphicon-remove"></span> Delete</button>
</div>

<br>
<hr>