<div class="authors-area">
  <div class="container-fluid">

    <!--Search an author-->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-8">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </form>
      </div>

      <!--Add a new author-->
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <button type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus"></span>  Add a new author</button>
      </div>
    </div>

    <!--Insert book template from book component-->
    <app-author></app-author>

  </div>
</div>