<div class="authors-area">
  <div class="container-fluid">

    <!--Search an author-->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-8">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </form>
      </div>

      <!--Add a new author-->
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <app-add-author-modal></app-add-author-modal>
      </div>
    </div>

    <!--Insert author template from author component-->
    <ul>
      <li *ngFor="let author of authors">
        <app-author [author]="author"></app-author>
      </li>
    </ul>

  </div>
</div>