<div class="authors-area">
    <div class="container-fluid">

        <!--Search an author-->
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text"
                                   name="term"
                                   class="form-control"
                                   placeholder="Search by name or by nationality"
                                   [(ngModel)]="term">
                        </div>
                    </div>
                </form>
            </div>

            <!--Add a new author-->
            <div class="col-xs-12 col-sm-6">
                <app-add-author-modal></app-add-author-modal>
            </div>
        </div>

        <!--Insert author template from author component-->
        <ul>
            <li *ngFor="let author of authors | authorsFilter: term">
                <app-author [author]="author"></app-author>
            </li>
        </ul>

    </div>
</div>