.carousel .item {
    max-height: 100%;
}
.carousel-caption {
    top: 20%;
    font-style: italic;
}
.caption-container {
    padding: 20px;
    background-color: rgba(35, 82, 124, 0.5);
}
h4 {
    line-height: 25px;
    letter-spacing: 0.1em;
}
@media (max-width: 425px) {
    .carousel-caption {
        top: 20px;
    }
}